extends layout

block content
  h1= title
  p Welcome to nwmsu
  -
    let results = [
      {
        "name": "Dogs",
        "lifespan": "10 years",
        "cost": 1000
      },
      {
        "name": "Cats",
        "lifespan": "15 years",
        "cost": 2000
      },
      {
        "name": "Goldfish",
        "lifespan": "25 years",
        "cost": 3000
      },                   
    ]
  div(class= "container-fluid")
    div(class = "row")
      each item,index in results
        div(class= "col-sm-2", onclick=`buy(${index})`) Animal_name: #{item.name}
        div(class= "col-sm-2", onclick=`buy(${index})`) lifespan: #{item.lifespan}
        div(class= "col-sm-2", onclick=`buy(${index})`) cost: #{item.cost}
        br
        br
        br
        

        
  script.
    function buy(itemNum){
      alert(`You have purchased item ${itemNum+1}`)
    }

 