extends layout

block content
  h1= title
  p Welcome to nwmsu
  -
    let result = results
  div(class= "container-fluid")
    div(class = "row")
      each item,index in result
        div(class= "col-sm-2", onclick=`buy(${index})`) Animal_name: #{item.name}
        div(class= "col-sm-2", onclick=`buy(${index})`) lifespan: #{item.lifespan}
        div(class= "col-sm-2", onclick=`buy(${index})`) cost: #{item.cost}
        br
        br
        br
        

        
  script.
    function buy(itemNum){
      alert(`You have purchased item ${itemNum+1}`)
    }

 