extends layout
 
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
     - let animalsid = toShow._id
     - let name = toShow.name
     - let lifespan = toShow.lifespan
     - let cost= toShow.cost
     - let actionid = "/resource/animals/" + animalsid
 
     script.
       let actionid = "#{actionid}"
 
     div
       div.row
         div(class='animalsAttr mr-3') Animal ID is:
         div #{animalsid}
       div.row
         div(class='animalsAttr mr-3') Name:
         div #{name}
       div.row
         div(class='animalsAttr mr-3') lifespan:
         div #{lifespan}
       div.row
         div(class='animalsAttr mr-3') cost:
         div #{cost}
     
 
     button(class="btn btn-danger m-2", onclick="deleteOnid()") Delete
     button(class="btn btn-secondary m-2", onclick="cancel()") Cancel
 
     script.
       function cancel() {
         // Go back to the home page for the costume collection
         window.location.href='/animals'
       } 
 
     script.
       function deleteOnid() {
         console.log("starting delete");
         // delete first
         fetch(actionid, {
           method: 'DELETE' // Don't need a body for the delete
         }).then((resp) => {
           return resp.json(); // or resp.text() or whatever the server sends
         }).then((body) => {
           alert("Delete succeeded");
           window.location.href='/animals';
           // TODO handle body
         }).catch((error) => {
           // TODO handle error
           alert("Delete failed: " + error);
         });
       }
